body {
    background-color: #2C2C30;
    color: white;
    font-family: sans-serif;
}

#root {
    text-align: center;
    margin-top: 50px;
}

.card-container {
    display: inline-block;
    margin: 15px;
    padding: 15px;
    border: 1px solid white;
}